<!DOCTYPE html>
<html ng-app="pokedex">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="reset.css">
  </head>
  <body ng-controller="pokeCtrl">
    <header>
      <div class="head-cont">
       <img class='pokemon-header' src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f7/English_Pok%C3%A9mon_logo.svg/2000px-English_Pok%C3%A9mon_logo.svg.png" alt="Pokemon">
     </div>
    </header>
    <section class="pokedex">
      <div class="search">
        <br>
        <form ng-submit="pokeData(number)">
          <input ng-model="number" type="text" placeholder="Search pokemon">
        </form>
      </div>
      <div class="pokedex-picture" ng-click="cssToggle = !cssToggle" ng-class="{box: cssToggle}">
        <div ng-class="{gradient: cssToggle}" class="topLayer"></div>
        <div class="pokedex-background"></div>
          <div class="info-container">
          <div>
            <div class="poke-pic" ng-class="{open: cssToggle}">
            <img src="{{pokepic}}" alt="" />
          <div class="poke-name" ng-class="{open: cssToggle}">
            <p>{{pokeName}}</p>
          </div>
          </div>
          </div>

          <div class="textInfo">
            <div class="region">
              <h3 class="infoTitle"></h3>
              <p class="infoContent"></p>
            </div>
            <div class="type">
              <h3 class="infoTitle"></h3>
              <ul class="infoList">
                <li ng-repeat="type in types">{{ types.type }}</li>
              </ul>
            </div>
            <div class="moves">
              <h3 class="infoTitle"></h3>
              <ul class="infoList">
                <li ng-repeat="move in moves">{{ moves.move }}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="pokedex-pic left" ng-class="{slideLeft: cssToggle}"><img class='dex' src="./img/Pokedex-leftside.png" alt="left"></div>
        <div class="pokedex-pic ball-div"><img ng-class="{hide: cssToggle}" class='dex ball' src="./img/Pokedex-ball-trans.png" alt="center"></div>
        <div class="pokedex-pic right" ng-class="{slideRight: cssToggle}"><img class='dex' src="./img/Pokedex-rightside.png" alt="right"></div>
      </div>
    </section>
    <footer>
    </footer>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="./js/app.js"></script>
  <script src="./js/pokeCtrl.js"></script>
  <script src="./js/pokeServ.js"></script>
</html>
