header {
  height: 20vh;
  background-color: #fb0505;
}
header h1 {
  font-size: 60px;
  padding-top: 30px;
  color: #fff;
  text-align: center;
}
.search {
  text-align: center;
}
.pokedex {
  height: 100vh;
  margin: 20px;
}
.pokedex-pic {
  height: 90vh;
  width: 75%;
  margin: 20px auto 0px auto;
}
.pokedex-img {
  height: 88vh;
  border-radius: 25px;
  width: 100%;
  border: 0;
  position: relative;
  z-index: -1;
}
.show-poke {
height: 313px;
width: 28%;
margin-left: 28px;
position: absolute;
z-index: 15;
bottom: -30px;
text-decoration: none;
}
footer {
  height: 20vh;
  background-color: #fb0505;
}
