<div class="region-carousel" carousel-dir>
  <div class="carousel-containers"><img class="carousel-img" src="http://cdn.bulbagarden.net/upload/thumb/4/43/HGSS_Kanto.png/787px-HGSS_Kanto.png" alt="Kanto" /><div class="carousel-text">
    Kanto
  </div></div>
  <div class="carousel-containers"><img class="carousel-img" src="http://cdn.bulbagarden.net/upload/thumb/4/46/HGSS_Johto.jpg/800px-HGSS_Johto.jpg" alt="Johto" /><div class="carousel-text">
    Johto
  </div></div>
  <div class="carousel-containers"><img class="carousel-img" src="http://cdn.bulbagarden.net/upload/9/9c/HoennIIIE.png" alt="Hoenn" /><div class="carousel-text">
    Hoenn
  </div></div>
  <div class="carousel-containers"><img class="carousel-img" src="http://cdn.bulbagarden.net/upload/thumb/7/7d/Sinnoh_Anime.png/800px-Sinnoh_Anime.png" alt="Sinnoh" /><div class="carousel-text">
    Sinnoh
  </div></div>
  <div class="carousel-containers"><img class="carousel-img" src="http://cdn.bulbagarden.net/upload/thumb/4/42/Unova_alt.png/800px-Unova_alt.png" alt="Unova" /><div class="carousel-text">
    Unova
  </div></div>
  <div class="carousel-containers"><img class="carousel-img" src="http://cdn.bulbagarden.net/upload/thumb/8/8a/Kalos_alt.png/800px-Kalos_alt.png" alt="Kalos" /><div class="carousel-text">
    Kalos
  </div></div>
</div>
